#page{
    width: 500px;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid bisque;
}
h1{
    background-color: antiquewhite;
}
.content{
    display: flex;
    flex-direction: row;
}
.content img{
    width: 200px;
    height: 300px;
}