div {
    position: relative;
}
ul {
    position: absolute;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
li {
    float: left;
    margin-right: 10px;
    
}
li a:hover{
    text-decoration: none;
    color: brown;
}